default-src 'none';
script-src 'nonce-{{index . 0}};
style-src 'none';
media-src 'none';
img-src 'self' data:;
child-src 'none';
frame-src 'none';
frame-ancestors 'none';
object-src 'none';
base-uri 'none';
font-src 'none';
connect-src 'none';
report-uri https://{{index . 1}}/csp;